---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page">

    <div class="block-left">
      <div class="content">
        <div class="post-title-section">
          <div class="section-line"><a href="{{ site.url }}"> Main Page</a> <em>/</em></div>
          <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          </ul>
          <div class="section-line reverse"><a href="https://medium.com/@{{ site.medium }}">Back to posts</a> <em>/</em></div>
        </div>
      </div>
    </div>
    {% include scripts.html %}
    {% include overlay.html %}
</body>
</html>
